-@ val checklist: prchecklist.models.ReleaseChecklist

.row(class={if (checklist.allGreen) "all-green" else ""})
  .col-md-9

    h1.headline
      i.fa.fa-check-circle.checklist-check-mark
      div
        small
          a(href={checklist.pullRequest.repo.url}) #{checklist.pullRequest.repo.fullName}
        a(href={checklist.pullRequest.url})
          | ##{checklist.pullRequest.number}
        | #{checklist.pullRequest.title}

    pre.description><
      ~ checklist.pullRequest.body

    ul#checklist
      = checklist.checks.map
        - case (nr, check) =>
          li(class={if (check.isChecked) "checked" else ""})
            a.number(href={checklist.pullRequestUrl(nr)}) ##{nr}
            span.title
              | #{check.pullRequest.title}
            span.checkers
              = check.checkedUsers.map
                - user =>
                  img(src={user.profileImageUrl} width=32)
            form(method="post" action="/#{checklist.pullRequest.repo.fullName}/pull/#{checklist.pullRequest.number}/check/#{check.pullRequest.number}")
              button.btn.btn-sm.btn-default(type="submit" is="ChecklistCheckButton" data-repo={checklist.pullRequest.repo.fullName} data-pr={checklist.pullRequest.number} data-feature-pr={check.pullRequest.number})
                i.fa.fa-check
