-@ val checklist: prchecklist.models.ReleaseChecklist

h1
  a(href="#")
    | ##{checklist.pullRequest.number}
  | #{checklist.pullRequest.title}

p.description
  | blah blah blah
  | meh meh meh

ul#checklist
  = checklist.checks.map
    - case (nr, check) =>
      li
        a(href="#") ##{nr}
        | TODO なんとか機能
        = check.checkedUsers.map
          - user =>
            img(src={user.profileImageUrl} width=32)
        form(method="post" action="/#{checklist.pullRequest.repo.fullName}/pull/#{checklist.pullRequest.number}/check/#{check.pullRequestNumber}")
          button.btn.btn-sm(type="submit" is="ChecklistCheckButton" data-repo={checklist.pullRequest.repo.fullName} data-pr={checklist.pullRequest.number} data-feature-pr={check.pullRequestNumber}) +
